@media only screen and (min-width: 1255px) {

  .products__wrapper {
    grid-template-columns: 1fr 2rem 1fr 2rem 1fr 2rem 1fr;
    align-items: center;
  }

  .pic {
    width: 20vw;
    height: 13.23vw;
  }

  .product {
    grid-template-rows: 15vw 1fr;
  }

  .img {
    width: 20vw;
    margin: 0 auto;
    height: 13.23vw;
    align-self: flex-end;
  }

  .review__background:nth-child(even){
    display: unset;
  }

  .product__background:nth-child(3n+0) {
    display: unset;
  }

  .product__background:nth-child(4n+0) {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {

  .detailproduct__revieuws--wrapper {
    width: 120rem;
    margin: 2rem auto;
  }

  /* .detailproduct__button--wrapper {
    width: 120rem;
    margin: 2rem auto;
  } */

  .goback__wrapper {
    width: 120rem;
    margin: 2rem auto;
  }

  .products__wrapper {
    width: 120rem;
    /* margin: 0 auto; */
  }

}
